* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "play";
  src: url("../public/fonts/playfair.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "sym";
  src: url("../public/fonts/sym.otf") format("truetype");
  font-style: normal;
}
:root {
  --cream: rgb(243, 240, 234);
}
.footer_title {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-family: "play";
  text-align: center;
  padding: 15px;
}
@import "tailwindcss"; /* src/admin/admin.css */
.ant-layout-header {
  background: #fff;
}

.d_time{
  font-weight: bold!important;
  font-size: 22px!important;
}
@media (max-width: 880px) {
  .ant-select,
  .ant-input {
    width: 100% !important;
  }
  .dalsi {
    line-height: 130%;
    text-align: center;
  }
  .pol {
    display: none;
  }

  .r{
    padding: 20px 0!important;
  }
  .ant-table {
    font-size: 13px;
  }
}
